body {
  margin: 0;
  padding: 0; 
}

/* Style the header with a grey background and some padding */
.header {
  display:flex; 
  flex-wrap: nowrap;
  background-color: aqua;
  height: 3rem; 
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header > div, a {
  width: 200px; 
  margin:10px; 
  background-color: #000;
  color: white; 
  text-align: center;
  line-height: 30px;
}

.canvas {
  /* height: 900px; */
  /* width: 1500px;  */
  display: flex; 
  flex-wrap: wrap;
  background-color: beige;
}

#chart-container {
  margin: 5px;
  background-color: #333;
  color:white;
  border-radius: 5px;
}

#chart-title {
  /* display: flex; */
  width: 10px;
  height: 10px;
}

#test-table {
  width: 1500px;
}

/* #discRate {
  position: absolute; 
}

#stars {
  position: absolute;
  top: 425px;
}

#starType {
  position: absolute;
  top: 725px;
}

#systemPlanetNumber {
  position: absolute;
  left: 500px;
}

#discMethod {
  position: absolute;
  left: 500px;
  top: 725px
}

#planetDistance {
  position: absolute;
  left: 1000px;
}

#planetSize {
  position: absolute;
  left: 1000px;
  top: 450px;
}

#habitability {
  position: absolute;
  top: 425px;
  left: 500px;
} */

.chart-line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
 
 #tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
  }
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  #tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
  }

  /* Marks */
.point:hover {
    stroke: #333;
  }

  

