body {
  padding: 30px;
  background: #f8f8f8;
}
.container {
  width: 740px;
  margin: 0 auto;
}
.bar {
  fill: steelblue;;
  shape-rendering: crispEdges;
}
.bar:hover {
  fill: #c15f45;
  transition: fill ease-in-out 200ms;
}
.axis text {
  fill: #666;
  font-size: 12px;
}
.axis path {
  shape-rendering: crispEdges;
  stroke: #888;
}
.y-axis .domain {
  stroke: #8693a0;
}


/*tooltip*/
#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}
