.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.column {
    float: left;
    width: 33%;
}

.bigColumn{
    float: left;
    width: 50%;
}
  
.smallColumn{
    float: left;
    width: 25%;
}